# Gradle-specific
.gradle/
build/
*.jar
*.war
*.ear

# Android Studio-specific
.idea/

# IntelliJ-specific
.idea/

# MacOS-specific
.DS_Store

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Node.js (if you use Node scripts)
node_modules/

# Log and temporary files
*.log
*.tmp
*.temp

# Kotlin-specific
*.kts
*.kotlin_module
*.kotlin_cache

# Android local keystores
*.jks

# Test result files
*.test-result
*.test-output

# Additional build folders
build/
bin/
gen/

# Ignorera allting i .idea
.idea/
